In [ ]:
import numpy as np
import pandas as pd

In [9]:
df=pd.DataFrame({'temperature':['hot','cold','warm','cold']}) 
print(df)
pd.get_dummies(df)

  temperature
0         hot
1        cold
2        warm
3        cold

   temperature_cold  temperature_hot  temperature_warm
0                 0                1                 0
1                 1                0                 0
2                 0                0                 1
3                 1                0                 0