In [7]:
import pandas as pd
from operator import add
from functools import reduce
coding={'subject':['python','java'],'amount':[1000,2000]}
df=pd.DataFrame(coding)
print(df)
print("\n map operation to multiply amount by 2\n")
df['amount']=df['amount'].map(lambda x:x*2)
print(df)
print("\n")
print("\n operation of filter to display only subject colummn\n")
df2=df.filter(items=['subject'])
print(df2)
print("\n reduce operation to find total amount\n")
reduce(add,df.amount)

  subject  amount
0  python    1000
1    java    2000

 map operation to multiply amount by 2

  subject  amount
0  python    2000
1    java    4000



 operation of filter to display only subject colummn

  subject
0  python
1    java

 reduce operation to find total amount

6000

In [11]:
import pandas as pd 
df=pd.DataFrame([[9,4,8,9,6],
                [8,10,7,6,5],
                [7,6,8,5,2]],
                columns=['maths','english','science','history','social'])
print(df)
df.agg(['sum','min','max','mean','median','std','count','size'])

   maths  english  science  history  social
0      9        4        8        9       6
1      8       10        7        6       5
2      7        6        8        5       2

        maths    english    science    history     social
sum      24.0  20.000000  23.000000  20.000000  13.000000
min       7.0   4.000000   7.000000   5.000000   2.000000
max       9.0  10.000000   8.000000   9.000000   6.000000
mean      8.0   6.666667   7.666667   6.666667   4.333333
median    8.0   6.000000   8.000000   6.000000   5.000000
std       1.0   3.055050   0.577350   2.081666   2.081666
count     3.0   3.000000   3.000000   3.000000   3.000000
size      3.0   3.000000   3.000000   3.000000   3.000000