In [1]:
import pandas as pd
df=pd.read_csv('E:\\Book1.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Height  7 non-null      float64
 1   Weight  6 non-null      float64
 2   Color   5 non-null      object
 3   Age     8 non-null      int64
dtypes: float64(2), int64(1), object(1)
memory usage: 388.0+ bytes

In [2]:
import pandas as pd
df=pd.read_csv('E:\\Book1.csv')
df
df.isna()

   Height  Weight  Color    Age
0   False   False  False  False
1   False   False   True  False
2    True    True  False  False
3   False    True  False  False
4   False   False  False  False
5   False   False   True  False
6   False   False  False  False
7   False   False   True  False

In [3]:
sr=pd.Series([12,5,None,5,None])
sr
sr.isna()

0    False
1    False
2     True
3    False
4     True
dtype: bool