In [1]:
import pandas as pd
arr={'days':[1,2,3,4,5,6,7,8,9,10],
    'steps':[4335,9552,7332,4504,5335,7552,8332,6504,8965,7689]}
df=pd.DataFrame(arr)
df

   days  steps
0     1   4335
1     2   9552
2     3   7332
3     4   4504
4     5   5335
5     6   7552
6     7   8332
7     8   6504
8     9   8965
9    10   7689

In [55]:
arr['steps']df=['steps']+1000

SyntaxError: invalid syntax (1264910739.py, line 1)

In [56]:
match=df.loc['steps']>7000]
print(match)

SyntaxError: unmatched ']' (99602891.py, line 1)